body{
    font-family:'Times New Roman', Times, serif;
    min-width: 800px;
    max-width: 1600px;
}

a{
    text-decoration: none;
}

ul{
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header, .footer, .welcome{
    background-color: #1F2937;
    padding: 32px; 
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a, .welcome-subtext{
    color: #E5E7EB;
    font-size: 18px;
}

.welcome{
    display: flex;
    align-items: center;
}

.container.welcome{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title.welcome{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding: 0;
}

.logo{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px
}

.placeholder-image.header{
    flex: 0 0 auto;
    background-color: #848792;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    border-radius: 2px;
}

button{
    border-radius: 8px;
    border: none;
    padding: 6px 30px;
    margin-top: 4px;
    color: white;
    font-weight: bold;
}

.welcome button{
    background-color: #3882F6;
    color: white;
}

.main{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-between;
}

.title.main{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin: 32px 0;
}

.container.main{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding: 0 50px;
}

.placeholder-image.main{
    height: 128px;
    width: auto;
    margin: 5px;
    border: 4px solid blue;
    border-radius: 8px;
}

.info{
    max-width: 200px;
}

.quote-block{
    background-color: #E5E7EB;
    margin-top: 100px ;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quote{
    height: 150px;
    font-size: 36px;
    font-weight:lighter;
    text-align: left;
    font-style: italic;
}

.author{
    align-self:flex-end;
    font-weight: bold;
}

.call-to-action{
    background-color: #3882F6;
    margin: 100px 80px ;
    padding: 30px 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.action-container{
    color: white;
}

.title.signup-bar{
    font-weight:bolder;
    font-size: 22px;
    text-align: left;
}

.call-to-action button{
    background-color: #3882F6;
    border: 3px solid white;
}


.footer{
    text-align: center;
    color: #E5E7EB;
    font-size: 18px;
}